<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>customer</title>
  </head>
  <body>
    <h1>list customer</h1>
    {% if customers %}
    <ol>
      {% for person in customers %}
      <li>
        Customer info
        <ul>
          <li>first name : {{ person.first_name }}</li>
          <li>last name : {{ person.last_name }}</li>
          <li>email : {{ person.email }}</li>
        </ul>
      </li>
      {% endfor %}
    </ol>
    {%endif%}
  </body>
</html>
